[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=simple
User=sonarqube
Group=sonarqube
WorkingDirectory=/opt/sonarqube/sonarqube-8.6.1.40680
ExecStart=/opt/sonarqube/sonarqube-8.6.1.40680/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonarqube/sonarqube-8.6.1.40680/bin/linux-x86-64/sonar.sh stop
ExecReload=/opt/sonarqube/sonarqube-8.6.1.40680/bin/linux-x86-64/sonar.sh restart
Restart=always

[Install]
WantedBy=multi-user.target